# aptinstall desktop list

colordiff
curl
duf
du-dust
fd-find
fonts-jetbrains-mono
fzf
# gnome-shell-extension-arc-menu
# gnome-shell-extension-dashtodock
# gnome-shell-extension-dash-to-panel
gnome-shell-extension-manager
gnome-tweaks
htop
ncdu
papirus-icon-theme
procs
ripgrep
rsync
tree
unzip
vim
zip
zoxide
