# aptinstall desktop list

colordiff
curl
duf
fd-find
fonts-jetbrains-mono
fzf
# gnome-shell-extension-arc-menu
# gnome-shell-extension-dashtodock
# gnome-shell-extension-dash-to-panel
gnome-shell-extension-manager
# gnome-software
# gnome-software-plugin-flatpak
gnome-tweaks
htop
ncdu
papirus-icon-theme
ripgrep
rsync
tree
unzip
vim
zip
zoxide
