# aptinstall packages list

btop
colordiff
curl
du-dust
duf
# fail2ban
fd-find
# fonts-jetbrains-mono
fzf
# gnome-shell-extension-arc-menu
# gnome-shell-extension-dash-to-panel
# gnome-shell-extension-dashtodock
# gnome-shell-extension-manager
# gnome-tweaks
htop
make
ncdu
net-tools
# papirus-icon-theme
pipes-sh
procs
ripgrep
rsync
shellcheck
shfmt
ssh-audit
sysstat
tree
tty-clock
unzip
vim
zip
zoxide
